h2{
    width: 100%;
    padding: 0px 10px ;
    border-bottom: 1px solid #cccc;
}

.pop-content{
    padding: 5px 10px 15px 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}

.pop-footer{
    padding: 10px;
    border-top: 1px solid #cccc;
    display: flex;
    justify-content: end;
    column-gap: 3px;
   

}

.main-box{
    width: 100%;
    input{
        width: 100%;
        outline: none;
        border: 1px solid #dddddd48;
        border-radius: 5px;
        padding: 8px;
    }
}