.save-button{
    color: white;
    background-color: #026e00;
}

.cancel-button{
     color: white;
    background-color:#c00100 ;
}

.add-button{
    color:white !important;
    background-color:#343dff !important;
}


.side-menu{
    color: white;
    background-color:#001b3f ;
}


.text{
    color: white;
}