.save-button{
    color: white !important;
    background-color: #014600 !important;
}

.cancel-button{
     color: white !important;
    background-color:#7e0100 !important ;
}

.add-button{
    color:white !important;
    background-color:#f18602  !important;
}

.edit-icon{
    color: #f18602 !important;
}


.buttons-menu{
    color: white;
    background-color:black ;
}


.text{
    color: white;
}

.formsearchfeild{
    width: 200px; 
    margin-right: 5px;
}