<div mat-dialog-content class="dialog-container">
  <mat-icon class="confirm-icon">help_outline</mat-icon>
  <div class="confirm-message">{{ data.message }}</div>

  <!-- Checkbox with dynamic label -->
  <mat-checkbox [(ngModel)]="checkboxValue">
    {{ data.checkboxLabel }}
  </mat-checkbox>
</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
  <button mat-raised-button color="warn" (click)="onCancel()">No</button>
</div>
