<h2 mat-dialog-title>{{ data.heading }} Plan</h2>
<mat-dialog-content>
  <div class="form-container">
    <form [formGroup]="planForm" class="form-field-stack">

        <div style="display: flex;flex-direction: row;gap: 5px;">
 <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Plan Name</mat-label>
        <input matInput formControlName="planName" />
      </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Plan Type</mat-label>
    <mat-select formControlName="planType"  (selectionChange)="onPlanTypeChange($event.value)">
      <mat-option value="Monthly">Monthly</mat-option>
      <mat-option value="Quarterly">Quarterly</mat-option>
      <mat-option value="Yearly">Yearly</mat-option>
    </mat-select>
  </mat-form-field>

        </div>

        <div style="display: flex;flex-direction: row;gap: 5px;margin-top: -15px;">
        <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Duration (Months)</mat-label>
        <input matInput type="number" formControlName="durationInMonths" readonly />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

        </div>

<div style="display: flex;flex-direction: row;gap: 5px;margin-top: -15px;">
<div formArrayName="features" style="margin-top: -15px; width: 100%;">
  <div *ngFor="let feature of features.controls; let i = index" style="display: flex; gap: 5px; align-items: center; margin-bottom: 5px;">
    <mat-form-field appearance="fill" style="flex: 1;">
      <mat-label>Feature {{ i + 1 }}</mat-label>
      <input matInput [formControlName]="i" />
    </mat-form-field>
    <button mat-icon-button color="warn" (click)="removeFeature(i)" *ngIf="features.length > 1">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <button mat-stroked-button color="primary" type="button" (click)="addFeature()">
    <mat-icon>add</mat-icon> Add Feature
  </button>
</div>


    

        </div>

     
    
    
    </form>

    <!-- Spinner Overlay -->
    <div *ngIf="loading" class="loading-overlay">
      <mat-spinner color="accent" aria-label="Loading"></mat-spinner>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close style="margin-left: 10px;" class="cancel-button">
    Cancel
  </button>
  <button mat-raised-button  class="save-button" (click)="savePlan()" >
    {{ buttonLabel }}
  </button>
</mat-dialog-actions>
