.full-width {
  width: 100%;
}

.m-r-8 {
  margin-right: 8px;
}

.m-t-16 {
  margin-top: 16px;
}

.form-field-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 20px;

  mat-form-field {
    flex: 1;
  }
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.filters-container {
  display: flex;
  align-items: center;
//   margin-bottom: 15px;
margin-top: 15px;
}
.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes filters left & button right */
  margin-bottom: 15px;
}

.filters-left {
  display: flex;
  align-items: center;
}

.filters-right {
  flex-shrink: 0; /* Prevents the button from shrinking */
}



.password-row {
  display: flex;
  gap: 16px; /* space between username and password column */

  .col-username {
    flex: 1; /* Takes 50% of total width */
  }

  .col-passwords {
    flex: 1; /* Takes other 50% */
    display: flex;
    gap: 16px; /* space between password and confirm password */

    .col-half {
      flex: 1; /* each takes 50% of right column */
    }
  }

  .full-width {
    width: 100%;
  }
}


.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
