<!-- <page-header class="bg-cyan-50" title="Players" /> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Members</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-tab-group [(selectedIndex)]="selectedTabIndex">

  <!-- Tab 1: Staff List -->
<mat-tab label="Players List">
  <div class="filters-container">
    <div class="filters-left">
      <!-- Search Filter -->

       <mat-form-field appearance="outline" class="formsearchfeild">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search by name or email" [(ngModel)]="searchText" (input)="applyFilters()" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="formsearchfeild">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="RoleFilter" (selectionChange)="applyFilters()">
          <mat-option value="">All</mat-option>
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="player">Player</mat-option>
        </mat-select>
      </mat-form-field>

       <mat-form-field appearance="outline" class="formsearchfeild">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="GenderFilter" (selectionChange)="applyFilters()">
          <mat-option value="">All</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>

        </mat-select>
      </mat-form-field>

      <!-- Status Filter -->
      <mat-form-field appearance="outline" class="formsearchfeild">
        <mat-label>Membarship Status</mat-label>
        <mat-select [(ngModel)]="statusFilter" (selectionChange)="applyFilters()">
          <mat-option value="">All</mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="pending">Pending</mat-option>
          <mat-option value="partially_paid">Partially Paid</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filters-right">
      <button mat-flat-button class="add-button" (click)="addUser()">Create New Player</button>
    </div>
  </div>





  <mtx-grid
    [data]="filteredList"
    [columns]="columns"
    [loading]="false"
    [columnResizable]="false"
    [rowSelectable]="false"
    [rowHover]="true"
    [rowStriped]="false"
    [showToolbar]="true"
    [columnHideable]="true"
    [columnSortable]="true"
    [columnPinnable]="true"
    [expandable]="false"
    [pageOnFront]="true"
    [showPaginator]="true"
    [pageSizeOptions]="[5, 10, 50, 100]"
    [pageIndex]="0"
    [pageSize]="5"
    [toolbarTitle]="'Members List'"
    class="trainer-grid"
    (rowClick)="onRowClick($event)"
  ></mtx-grid>



</mat-tab>


  <!-- Tab 2: Staff Details Form -->
<mat-tab label="Player Details" [disabled]="UserDetailsTabDisabled">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Player Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="UserForm" class="form-field-grid">

        <!-- User ID (Readonly) -->
        <div class="form-row">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Player ID</mat-label>
          <input matInput formControlName="playerid" readonly />
        </mat-form-field>
          
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>

        
        </div>

        <div class="form-row">

          <mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput formControlName="email" required />
  <mat-error *ngIf="UserForm.get('email')?.invalid">
    {{ getErrorMessage() }}
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="UserForm.get('password')?.invalid">
    Password is required
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Membership Plan</mat-label>
  <mat-select formControlName="subscriptionId" required>
    <mat-option *ngFor="let plan of (MembershipPlansList || [])" [value]="plan._id">
      {{plan?.planName}} - {{plan?.price | currency:'INR':'symbol':'1.0-0'}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="UserForm.get('subscriptionId')?.invalid">
    Subscription plan is required
  </mat-error>
</mat-form-field>
          
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" required>
              <mat-option value="player">Player</mat-option>
              <!-- <mat-option value="trainer">Trainer</mat-option> -->
              <mat-option value="admin">Admin</mat-option>
            </mat-select>
          </mat-form-field>

             <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="IsStatus" required>
              <mat-option value="Active">Active</mat-option>
              <mat-option value="Inactive">Inactive</mat-option>
            </mat-select>
          </mat-form-field>


    

   
        </div>

        <!-- Address Fields -->
          <div class="form-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Address Line 1</mat-label>
            <input matInput formControlName="line1" />
          </mat-form-field>
        </div>

        <!-- Address Fields -->
        <div class="form-row">
      
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>State</mat-label>
  <mat-select formControlName="state" (selectionChange)="onStateChange($event.value)">
    <mat-option *ngFor="let state of IndianStateDistList" [value]="state.state">
      {{ state.state }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>District</mat-label>
  <mat-select formControlName="district">
    <mat-option *ngFor="let district of filteredDistricts" [value]="district">
      {{ district }}
    </mat-option>
  </mat-select>
</mat-form-field>


           <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>

            <mat-form-field appearance="outline">
            <mat-label>Zip</mat-label>
            <input matInput formControlName="zip" />
          </mat-form-field>
      
        </div>

         <div class="form-row">
          <div class="upload-card">
  <!-- Image Preview -->
  <div class="image-preview">
    <ng-container *ngIf="UserForm.get('photo')?.value; else placeholder">
      <img [src]="UserForm.get('photo')?.value" width="120px" height="120px" alt="Preview" />
    </ng-container>
    <ng-template #placeholder>
      <div class="placeholder">No Photo</div>
    </ng-template>
  </div>

  <!-- Hidden File Input -->
  <input 
    type="file" 
    accept="image/*" 
    (change)="onLogoSelected($event)" 
    #fileInput 
    hidden
  />

  <!-- Upload Button -->
  <button mat-raised-button color="primary" class="upload-btn" (click)="fileInput.click()">
    Upload Photo
  </button>
</div>

         </div>

        <div class="form-buttons">
<div class="membership-container">
<button
  mat-flat-button
 [ngClass]="{
  'no-membership': !PlayerData?.subscriptionId,
  'paid-membership': PlayerData?.subscriptionId?.paymentStatus === 'paid',
  'pending-membership': PlayerData?.subscriptionId?.paymentStatus === 'pending' 
                        || PlayerData?.subscriptionId?.paymentStatus === 'partially_paid',
  'expired-membership': isExpired()
}"

  (click)="AssignMembership(PlayerData?.subscriptionId || '')"
  [matTooltip]="membershipTooltip"
  matTooltipPosition="above"
>
  <mat-icon>card_membership</mat-icon>
  {{ !PlayerData?.subscriptionId ? 'Add Membership Plan' : 'Update Membership Plan' }}
</button>


  <!-- Status label -->
  <div class="membership-status" *ngIf="PlayerData?.subscriptionId">
    <mat-icon
      [ngClass]="{
        'status-icon-paid': PlayerData?.paymentStatus === 'paid',
        'status-icon-pending': PlayerData?.subscriptionId?.paymentStatus === 'pending' || PlayerData?.subscriptionId?.paymentStatus === 'partially_paid',
        'status-icon-expired': isExpired() 
      }"
    >
      {{ PlayerData?.subscriptionId?.paymentStatus === 'paid' ? 'check_circle' : 
         (PlayerData?.subscriptionId?.paymentStatus === 'pending' || PlayerData?.subscriptionId?.paymentStatus === 'partially_paid' ? 'hourglass_empty' : 'error') }}
    </mat-icon>
    <span>
      {{ PlayerData?.subscriptionId?.paymentStatus === 'paid'
          ? ('End Date: ' + (PlayerData?.subscriptionId?.endDate | date:'dd MMM yyyy'))
          : (PlayerData?.subscriptionId?.paymentStatus === 'pending' || PlayerData?.subscriptionId?.paymentStatus === 'partially_paid'
              ? ('Due Date: ' + (PlayerData?.subscriptionId?.dueDate | date:'dd MMM yyyy'))
              : 'Expired') }}
    </span>
  </div>
</div>

        
            <div style="margin: 2px;">
         <button mat-raised-button class="cancel-button" type="button">Cancel</button>
          <button mat-raised-button class="save-button"  (click)="onUserSubmit()" type="submit" >
            Save
          </button>
            </div>
        
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</mat-tab>

</mat-tab-group>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

